* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Viewport pembatas agar buku selalu di tengah */
#book-viewport {
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#book {
    margin: auto;
    display: none; /* Disembunyikan dulu sampai siap */
}

/* Tombol Samping Transparan */
.nav-side {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-left { left: 0; }
.nav-right { right: 0; }

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
    transition: 0.3s;
}

.nav-side:hover .nav-btn { opacity: 1; background: rgba(255, 255, 255, 0.2); }

.page-badge {
    position: absolute;
    bottom: 20px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 14px;
}

.my-page { background-color: white; }
canvas { width: 100%; height: 100%; display: block; }