* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a; /* Background gelap agar fokus ke kertas */
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigasi Samping Transparan */
.nav-side {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.nav-left { left: 0; }
.nav-right { right: 0; }

.nav-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.3s;
}

.nav-side:hover .nav-btn {
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
}

.page-badge {
    position: absolute;
    bottom: 15px;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    z-index: 100;
    pointer-events: none;
}

/* Memperbaiki tampilan halaman agar rapi */
.my-page {
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}